* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #035b68;
  --txt-color: #585858;
  --bg-color: #FAF7F7;
}
header .nav {
  background-color: var(--main-color);
  font-family: var(--poppins) !important;
}
@media screen and (max-width: 992px) {
  header .nav {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  header .nav {
    font-size: 10px;
  }
}
@media screen and (max-width: 576px) {
  header .nav {
    font-size: 8px;
  }
}
header nav {
  font-family: var(--anek-gujarati);
}
@media screen and (max-width: 768px) {
  header nav img {
    width: 130px;
  }
}
.fruit-slider {
  margin-bottom: 230px;
}
.fruit-slider img {
  position: absolute;
}
.fruit-slider .row .col-6 {
  position: relative;
  margin-top: 130px;
}
.font{
  font-size: 20px;
  font-weight: 400;
}
.product-container{
  margin-top: 450px;
}
.product-container .fruit-box {
  width: 300px;
  height: 300px;
  background-color: #FAF7F7;
  box-sizing: border-box;
  border-radius: 15px;
}
.product{
  margin-top: 50px;
}
.about-company {
  background: url(/assetes/img/Rectangle\ 9.png);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-company .col-4 img {
  max-width: 100%;
}
.our-team {
  background: url(/assests/img/bg-img-man.png);
  background-size: cover;
  padding-bottom: 70px;
  width: 100%;
  object-fit: cover;
}
.our-team .col-lg-3 .box-1 {
  box-sizing: border-box;
  width: 100%;
  border-radius: 17px;
}
.our-team .col-lg-3 .box-1 .rounded-circle {
  width: 80%;
}
.share-container {
  padding: 50px;
  background: url(/assetes/img/Rectangle\ 20.png);
  margin-top: 40px;
}
.share-container .col-12 {
  width: 60%;
  padding: 45px 100px;
}
.share-container input[type=text],
.share-container select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.share-container input[type=email] {
  width: 48%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.share-container input[type=number] {
  width: 48%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.share-container textarea[type=message] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.share-container input[type=submit] {
  display: inline-block;
  background-color: #03505C;
  color: white;
  padding: 10px 60px;
  border-radius: 70px;
  margin: 8px 0;
  border: none;
}
.share-container input[type=submit]:hover {
  background-color: #32666e;
}
footer {
  background-color: #03505C;
  padding: 20px 60px;
  color: white;
  margin-top: 60px;
}
footer .container {
  padding: 30px 70px;
}
footer .container input[type=email] {
  width: 68%;
  background-color: #03505C;
  padding: 7px 20px;
  margin-top: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--bg-color);
}
footer .container input[type=submit] {
  background-color: #fff;
  color: #03505C;
  padding: 7px 40px;
  border-radius: 70px;
  margin: 8px 0;
  border: none;
  font-weight: bolder;
}
footer a {
  color: white;
}
.footernav {
  width: 100%;
  background-color: white;
  color: #03505C;
  border: 1px solid #03505C;
}
.footernav .col-4 .pt-1 img {
  width: 16%;
}
@media screen and (max-width: 1257px) {
  .share-container .col-12 {
    width: 75%;
  }
}
@media screen and (max-width: 1160px) {
  .fruit-slider {
    margin-bottom: 30px;
  }
  .our-team .col-lg-3 .box-1 h2 {
    font-size: 23px;
  }
  .our-team .col-lg-3 .box-1 div {
    font-size: 17px;
  }
}
@media screen and (max-width: 1083px) {
  header .header-1 .col-9 {
    font-size: 14px;
  }
  header .header-1 .col-2 {
    font-size: 14px;
    color: white;
  }
  .fruit-slider {
    margin-bottom: 60px;
  }
  .fruit-slider .row .col-6 h1 {
    font-size: 25px;
  }
  .fruit-slider .row .col-6 p {
    font-size: 14px;
  }
  .share-container {
    padding: 20px 30px;
  }
  .share-container .col-12 {
    width: 85%;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 992px) {
  footer {
    padding: 20px 0px;
  }
  footer .container {
    padding: 30px 18px;
  }
  .footernav .col-8 h6 {
    font-size: 12px;
  }
  .footernav .col-8 a {
    font-size: 12px;
  }
}
@media screen and (max-width: 920px) {
  header .header-1 .col-9 {
    font-size: 12px;
  }
  .fruit-slider {
    margin-bottom: 35px;
    font-size: x-large;
  }
}
@media screen and (max-width: 801px) {
  header .header-1 .col-9 {
    font-size: 9px;
  }
  header .header-1 .col-2 {
    font-size: 11px;
  }
  .fruit-slider {
    margin-bottom: 0px;
  }
  .fruit-slider .row .col-6 {
    transform: translateY(-100px);
    
  }
  .fruit-slider .row .col-6 h6 {
    font-size: 12px;
  }
  .fruit-slider .row .col-6 h1 {
    font-size: 18px;
  }
  .fruit-slider .row .col-6 p {
    font-size: 10px;
  }
  .share-container {
    padding: 20px 10px;
  }
  .share-container .col-12 {
    width: 90%;
    padding: 25px 10px;
  }
  footer {
    padding: 20px 0px;
  }
  footer .container {
    padding: 30px 0px;
  }
  footer .container .row .col-lg-3 h3 {
    font-size: 22px;
  }
  footer .container .row .col-lg-3 .home {
    font-size: 12px;
  }
  footer .container .row .col-lg-4 h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 714px) {
  .product-container {
    margin-top: -20px;
  }
  .share-container {
    padding: 20px 10px;
  }
  .share-container .col-12 {
    width: 90%;
    padding: 25px 10px;
  }
  .footernav .col-8 h6 {
    font-size: 8px;
  }
  .footernav .col-8 a {
    font-size: 8px;
  }
}
@media screen and (max-width: 576px) {
  .fruit-slider .row .col-6 {
    transform: translateY(-90px);
  }
  .fruit-slider .row .col-6 h6 {
    font-size: 12px;
  }
  .fruit-slider .row .col-6 h1 {
    font-size: 20px;
  }
  .fruit-slider .row .col-6 p {
    font-size: 9px;
  }
  .product-container {
    margin-top: 260px;
  }
  .col-lg-6 {
    padding: 30px;
  }
  .share-container {
    padding: 20px 10px;
  }
  .share-container .col-12 {
    width: 90%;
    padding: 25px 6px;
  }
  .share-container .col-12 input[type=email] {
    width: 45%;
    margin-left: 12px;
  }
  .share-container .col-12 input[type=number] {
    width: 45%;
  }
  footer {
    background-color: #03505C;
    padding: 20px 30px;
    color: white;
  }
  footer .container input[type=email] {
    width: 76%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 497px) {
  header .header-1 .col-2 {
    font-size: 8px;
    padding: 0px;
    padding-left: 30px;
  }
  .fruit-slider {
    margin-bottom: 70px;
  }
  .fruit-slider .row .col-6 h6 {
    font-size: 12px;
  }
  .fruit-slider .row .col-6 h1 {
    font-size: 20px;
  }
  .fruit-slider .row .col-6 p {
    font-size: 11px;
  }
  .product-container {
    margin-top: 20px;
  }
  footer {
    padding: 20px 0px;
  }
  footer .container {
    padding: 30px 10px;
  }
  footer .container .row .col-lg-3 h3 {
    font-size: 17px;
  }
  footer .container .row .col-lg-3 .home {
    font-size: 10px;
  }
  footer .container .row .col-lg-4 div {
    font-size: 14px;
  }
  footer .container .row .col-lg-4 h3 {
    font-size: 17px;
  }
  .footernav .col-8 h6 {
    font-size: 6px;
  }
  .footernav .col-8 a {
    font-size: 6px;
  }
}




