.Corpo{
    color: rgb(0, 0, 6);
    /* padding-right: 70px; */
    font-size: 40px;
    margin-left: 350px;
}
big.bigC {
    margin: 0;
}
.bigC{
    color: brown;
    font-size: 40px;
    margin-left: 370px;


}
.hed{
    font-size: 20PX;
    color: blue;
    margin-left: 370px;
    
}
.face{
    color: black;
    margin-left: 370px;

}
.font{
    padding-right: 70px;
    margin-left: 370px;

}
.benar{
    background-image: url(../images/lady1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.big1{
    color: brown;
    font-size: 60px;
    padding-top:200px ;
    padding-right: 900px;
    margin-bottom: 0px;
    margin-left: 20px;

}
.big2{
    margin-top: 0px;
    margin-bottom: 0px;
    color:blanchedalmond;
    padding-right: 900px;
    font-size: 60px;
    margin-left: 20px;

}

.big4{
    color: azure;
    margin-left: 20px;

}
.button{
    width: 100px;
    height: 20px;
     color: azure;
    background-color: brown;
    margin-left: 20px;

}
.h123{
    padding-left: 750px;

}
.big5{
    padding-left:750px ;
}
.benar3{
    margin-left: 400px;
    margin-right: 40px;
    float: left;
   
}
.benar4{
    padding-left:200px;
    float: left;
     
}
.benar5{
    float: left;
    margin-left: 400px;
    margin-right: 40px;
}
.benar6{
    background-image: url(../images/team1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    margin-top: 300px; 
    position: relative;
    
}

.benar7{
   position: absolute;
   bottom: 5.5%;
   right: 30%;
}
.p1{
    color: brown;
    margin-left:250px ;
    padding-top: 50px;
    font-size: 30px;
    margin-bottom: 0px;
    
    
    
}
.p2{
    color: burlywood;
    margin-left: 250px;
    font-size: 40px;
    margin-bottom: 0px;
    

}
.p3{
    color: burlywood;
    margin-left: 250px;
    
}
.button2{
    background-color: orangered;
    margin-left: 250px;
    
}
#ben1{
    margin-left: 250px;
    margin-top: 50px;
    float: left;
}
.ben2{
    margin-left: 1000px;
    margin-top:150px;
    color: brown;
    font-size: 20px;
}
.ben3{
    margin-left: 1000px;
    font-size: 40px;
}
.ben4{
    margin-left: 1000px;

}
.ben5{
    margin-left: 1000px;
}
.VHM{
    margin-top: 100px;
    color: brown;
    /* margin-left: 1000px; */
    /* padding-left: 750px; */
    font-size: 20px;
    text-align: center;
}
.VHM1{
    /* margin-left: 650PX; */
    font-size: 40PX;
    text-align: center;
}
.VHM2{
    /* margin-left: 500PX; */
    margin-bottom: 0px;
    text-align: center;
}
.VHM3{
    /* margin-left: 600px; */
    text-align: center;
    float: left;
    margin-left: 300px;
}
.VHM4{
    float: left;
    margin-left: 150px;
}
.VHM5{
    float: left;
    margin-left: 150px;
}
.VHM6{
    float: left;
    margin-left: 150px;
}
#VHM7{
    clear: both;
    color: brown;
    text-align: center;
}
.VH1{
    color: black;
    font-size: 40px;
}
.back{
    background-image: url(../images/read1.jpg);
    height: 400px;
    width: 20%;
    background-repeat: no-repeat;
    background-size: 350px 400px;
    margin-left: 10%;
    float: left;
    position: relative;


    
}

.b-1{
    background-image: url(../images/read2.jpg);
}
.b-2{
    background-image: url(../images/read3.jpg);
}

.text{
    position: absolute;
    color:darkgrey;
    top: 70%;
    font-weight: 600;
    left: 10px;
    font-size: 30px;
}
.men{
    width: 100%;
    height: 450px;
}

.text-1{
    position: absolute;
    color:darkgrey;
    top: 83%;
    left: 10px;
    font-size: 15px;
}
.button3 button{
    color: azure;
    background-color: orangered;
    padding: 10px 20px;
    margin-left:50% ;
}

.tax3{
    color: azure;
    font-size: 40px;
    margin-top: 10px;
    padding-left:760px;   
}
.background{
    background-image: url(../images/hand.jpg),url(../images/talented.jpg);
    width: 3000px,3000px;
    height: 500px;
    background-repeat: no-repeat,no-repeat;
    background-position: left;
    background-blend-mode:overlay;
    background-size: 1900px 500px;
    margin-bottom: 50PX;
}
.tax{
    color: azure;
    font-size: 40px;
    margin-top: 10px;
    padding-left: 730px;
    margin-bottom: 0px;
}
.tax1{
    color: azure;
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom:30px ;
   

}
.mentax{
    margin-left: 500px;
    float: left;
}
.mentax1{
    margin-left: 140px;
    float: left;
}
.mentax2{
    margin-left: 140px;
    float: left;
}
.mentax3{
    margin-left: 140px;
    float: left;
}
.t1{
    margin-top: 0px;
    float: left;
    color: white;
}

.tax2{
    color: azure;
    font-size: 20px;
    margin-top: 180px;
    margin-bottom: 0%
    
}
.member{
    color: brown;
    font-size: 30px;
    text-align: center;
    /* margin-left:850px ; */
}
.team{
    font-size: 40px;
    /* margin-left: 800px; */
    text-align: center;
}
.pre{
    /* margin-left: 600px; */
    text-align: center;
    margin-bottom: 50px;
}
.images{
    background-image: url(../images/member1.jpg);
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    position:relative ;
    float: left;
    margin-left: 70px;
    background-size: 350px;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    
}
.ima-1{
    background-image: url(../images/member2.jpg);
}
.ima-2{
    background-image: url(../images/member3.jpg);
}
.ima-3{
    background-image: url(../images/member4.jpg);
}
.gil{
    background-color: white;
    text-align: center;
    color: black;
    height: 80px;
    width: 150px;
    position: absolute;
    bottom: 0px;
    left: 100px;
    font-size: 20px;
    margin-bottom:0px;
    margin-left: 0px;

}

.line{
    width: 100%;
    height: 50px;
}
.flex{
    margin-left: 45%;
    background-color: brown;
}
.FLEX1{
    background-color: grey;
}
.FLEX2{
    background-color: grey;
}
.border3{
    width: 100%;
    height: 1px;
    background-color: grey;
}
.bor{
    width: 50px;
    height: 3px;
    float: left;
    /* background-color: grey; */
    margin-top:10px;
    margin-right:20px;    
}
.article{
    color: brown;
    margin-left: 170px;
    font-size: 20px;    
}
.blog{
    margin-left: 170px;
    font-size: 30px;
    margin-top: 20px;
}
.bd{
    margin-left: 170px;
}
.images1{
    float: left;
    background-image: url(../images/blog1.jpg);
    width: 30%;
    height: 300px;
    background-repeat: no-repeat;
    position:relative ;
    background-size: 350px;
    /* clear: both; */
}
/* .hh{
    width: 100%;
    height: 400px;
    background-color: crimson;
} */
.img-1{
    background-image: url(../images/blog2.jpg);
}
.img-2{
    background-image: url(../images/blog3.jpg);
}
.pregaph1{
    margin-left: 170px;
    float: left;
}
.vhh{
    margin-left: 10%;
}
.vm{
    margin-left: 12%;
}
.p11{
    font-size: 30px;
}
footer{
    background-color:rgb(57,38,141);
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
.read{
    color: brown;
}
.vkk{
    clear: both;
}
.vvv{
    float: left;
}
.corpo11{
    font-size: 30px;
    color: azure;
    padding-top: 30px;
    padding-left: 300px;
    padding-bottom: 0px;
    margin: 0%;


}
.cll{
    color: azure;
    padding-left: 300px;
    font-size: 20px;
}
.icon{
    padding-left: 300px;
    font-size: 20px;
    color: azure;
}
.corpo12{
    font-size: 30px;
    color: azure;
    padding-top: 30px;
    padding-left: 180px;
    padding-bottom: 0px;
    margin: 0%;


}
.cll1{
    color: azure;
    padding-left: 180px;
    font-size: 20px;
}

.corpo13{
    font-size: 30px;
    color: azure;
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 0px;
    margin: 0%;


}
.cll2{
    color: azure;
    padding-left: 200px;
    font-size: 20px;
}
.corpo14{
    font-size: 30px;
    color: azure;
    padding-top: 30px;
    padding-left: 230px;
    padding-bottom: 0px;
    margin: 0%;


}
.cll3{
    color: azure;
    padding-left: 230px;
    font-size: 20px;
}
.border4{
    width: 65%;
    height: 1px;
    background-color:white;
    margin-top: 50px;
    clear: both;
    margin-left: 250px;
}
.of{
    float: left;
  
}
.v1{
    margin-left: 14%;
    color: white;
}
.v{
    margin-left: 2%;
    color: white;
}
.v3{
    margin-left: 40%;
    color: white;
}